body {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
}

#connect-four {
  display: flex;
  transform: rotate(90deg);
  padding: 1rem;
  background-color: darkblue;
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
  width: min-content;
}

#connect-four .row .cell {
  display: flex;
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

#restart-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.select-first-player-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.select-first-player-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}