body {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  background-color: #DDDDDD;
  font-family: 'Dekko';
}

h1,h2 {
  color: #001f3f;
  margin-top: 0px;
  margin-bottom: 0.5rem;
}

.player_text[player="Yellow"] {
  text-shadow: 0 0 2.5px black, 0 0 2.5px black;
}

.dot1 {
  animation: dot1_animation 2s forwards infinite;
}

.dot2 {
  animation: dot2_animation 2s forwards infinite;
}

.dot3 {
  animation: dot3_animation 2s forwards infinite;
}

@keyframes dot1_animation {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dot2_animation {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dot3_animation {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

img {
  width: auto;
  height: auto;
}

button {
  margin-left: 1rem;
  margin-right: 1rem;
}

#connect-four {
  display: flex;
  transform: rotate(90deg);
  padding: 1rem;
  background-color: darkblue;
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
  width: min-content;
}

#connect-four .row .cell {
  display: flex;
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

#restart-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal  {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  max-height: 100vh;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.title_text {
  margin-top: 1rem;
}

.title_os {
  display: inline-flex;
  margin-top: 1rem;
  white-space: nowrap;
  overflow: hidden;  
  animation: title_os_animation 4s steps(30,end) 2s 1 normal both;
}

@keyframes title_os_animation {
  0% {
    width: 0%;
  }

  25% {
    width: 2.9rem;
  }

  50% {
    width: 2.9rem;
  }

  75% {
    width: 2.9rem;
  }

  100% {
    width: 0%;
  }
}